# Name= Muhammad Umair Khan
# Student ID=  7791
# Class ID= 105032

# <center>PYTHON BASICS</center>

# Input Output

In [7]:
name=input('Enter your name: ')

Enter your name Muhammad Umair

In [2]:
age=eval(input('Enter your age: '))

Enter your age: 22

In [3]:
Student_ID=eval(input('enter your id: '))

enter your id: 7791

# Arthimatics operators

In [1]:
6*10

60

In [2]:
5+102-5

102

In [5]:
value = int(input('Enter a value: '))
square = value * value
print('Square is ', square)

Enter a value: 5
Square is  25

In [4]:
x = int(input('Enter x '))
result = x**2 + x**3
print('The value of X is ', result)

Enter x 2
 The value of X is  12

# Relational Operators

In [3]:
a=10
b=2
a>b

True

# IF-ELSE (CONDITIONAL STATEMENT)

In [5]:
a=10
b=2
if a>b:
    print(a,' is greater')
else:
    print(b,' is greater')

10  is greater

# Example Question

In [3]:
temp= eval(input('Enter temperature: '))
if temp>100:
    print('gas state')
elif temp<0:
    print('Solid state')
else:
    print('Liguid state')
    
print('----------------')
print('GoodBye')

Enter temperature: 50
Liguid state
----------------
GoodBye

# LOOPS

In [4]:
# print first 10 number
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [5]:
for i in range(2,21,2):
    print(i, end="  ")

2  4  6  8  10  12  14  16  18  20

In [1]:
j=1
while j<11:
    print(j)
    j=j+1

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11):
    for j in range(1,11):
        print(i , "X",  j , " = ", i*j)

1 X 1  =  1
1 X 2  =  2
1 X 3  =  3
1 X 4  =  4
1 X 5  =  5
1 X 6  =  6
1 X 7  =  7
1 X 8  =  8
1 X 9  =  9
1 X 10  =  10
2 X 1  =  2
2 X 2  =  4
2 X 3  =  6
2 X 4  =  8
2 X 5  =  10
2 X 6  =  12
2 X 7  =  14
2 X 8  =  16
2 X 9  =  18
2 X 10  =  20
3 X 1  =  3
3 X 2  =  6
3 X 3  =  9
3 X 4  =  12
3 X 5  =  15
3 X 6  =  18
3 X 7  =  21
3 X 8  =  24
3 X 9  =  27
3 X 10  =  30
4 X 1  =  4
4 X 2  =  8
4 X 3  =  12
4 X 4  =  16
4 X 5  =  20
4 X 6  =  24
4 X 7  =  28
4 X 8  =  32
4 X 9  =  36
4 X 10  =  40
5 X 1  =  5
5 X 2  =  10
5 X 3  =  15
5 X 4  =  20
5 X 5  =  25
5 X 6  =  30
5 X 7  =  35
5 X 8  =  40
5 X 9  =  45
5 X 10  =  50
6 X 1  =  6
6 X 2  =  12
6 X 3  =  18
6 X 4  =  24
6 X 5  =  30
6 X 6  =  36
6 X 7  =  42
6 X 8  =  48
6 X 9  =  54
6 X 10  =  60
7 X 1  =  7
7 X 2  =  14
7 X 3  =  21
7 X 4  =  28
7 X 5  =  35
7 X 6  =  42
7 X 7  =  49
7 X 8  =  56
7 X 9  =  63
7 X 10  =  70
8 X 1  =  8
8 X 2  =  16
8 X 3  =  24
8 X 4  =  32
8 X 5  =  40
8 X 6  =  48
8 X 7  =  56
8 X 8  =  64
8 X 9  =  72
8 X 10  =  80
9 X 1  =  9
9 X 2  =  18
9 X 3  =  27
9 X 4  =  36
9 X 5  =  45
9 X 6  =  54
9 X 7  =  63
9 X 8  =  72
9 X 9  =  81
9 X 10  =  90
10 X 1  =  10
10 X 2  =  20
10 X 3  =  30
10 X 4  =  40
10 X 5  =  50
10 X 6  =  60
10 X 7  =  70
10 X 8  =  80
10 X 9  =  90
10 X 10  =  100

# Function

In [1]:
import numpy as np
def equation(x):
    return 5*x+3
def polyequation(x):
    return 3 * x**3 + 2 * x**2 +9 * x 

def Trignometry(x):
    return np.cos(x)

In [5]:
equation(2)

13

In [8]:
polyequation(2)

50

In [2]:
Trignometry(90)

-0.4480736161291701

# Complex Data Type (LISTS)

In [1]:
ar=[1,2,3,4,5,6]

In [2]:
type(ar)

list

In [3]:
print(ar[1])

2

In [4]:
print(ar[0:3])

[1, 2, 3]

In [5]:
print(ar[-1])

6

# Complex Data Type (Dictionary)

In [8]:
students={'ID':[7,7,9,1],'Name':['Umair','Khan','Muhammad']}

In [7]:
print(students)

{'ID': [7, 7, 9, 1], 'Name': ['Umair', 'Khan', 'Muhammad']}

In [11]:
student =  {  
    'ID'       : [7, 7, 9, 1], 
    'program'  : ['BSCS','BSCS','BSCS','BSCS','BSCS']
}

In [12]:
print(student)

{'ID': [7, 7, 9, 1], 'program': ['BSCS', 'BSCS', 'BSCS', 'BSCS', 'BSCS']}

# <center>TASK</center>

# Question#1

In [2]:
import numpy as np
x = [ 76,84,69,92,58,89,73,97,85,77]
x_sum=0
bar_x=0
for i in range(0,len(x)):
    x_Sum=x_sum+x[i]
bar_x=x_sum/10
sigma=np.sqrt((x_Sum-bar_x)**2/len(x)-1)
print(sigma)

24.32899504706267

# Question#2

In [11]:
ar=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [7]:
'''Print List'''
print(ar)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
'''Print even numbers'''
for i in ar:
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [13]:
'''Print last element'''
print(ar[-1])

20

In [14]:
'''Print 3rd last element'''
print(ar[-3])

18

In [4]:
'''Print Reverse List'''
ar.reverse();
print("list:",ar)

list: [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
'''Print 4th index to 10th index'''
print(ar[4:10])

[16, 15, 14, 13, 12, 11]

In [3]:
'''Print starting 8 elements'''
print(ar[0:8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
'''Print last 4 elements'''
print(ar[-5:-1])

[16, 17, 18, 19]

# QUESTION#3

In [6]:
import numpy as np
def Solution(x):
    eq=np.cos(x) - x**3
    return eq

In [7]:
Solution(90)

-729000.4480736161